@{
    ViewBag.Title = "İletişim";
}
<h2>@ViewBag.Title</h2>

<address>
    EGE ŞENKUL<br />
    Bilgisayar Mühendisi
</address>

<address>
    <strong>Detaylar:</strong>   <a href="http://www.egesenkul.com">Kişisel Web Sitesi</a><br />
    <strong>Blog:</strong> <a href="https://wwww.teknotra.com">Blog Sitesi</a>
</address>